$header-background-color: #efeae1;
$header-controls-color: #d0cbc4;
$content-background-color: #efeae1;
$time-line-color: #1b1e00;

$table-header-background-color: #e0d7db;
$table-content-background-color: #6ab023;
$table-border-color: white;

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: $content-background-color;
}

/* Header */

.full-header {
  border-bottom: 1pt solid black;
}

#header-container {
  line-height: 4.5vmax;
}

.header {
  font-family: 'Julius Sans One';
  padding: 0 0.2vh;
  background-color: $header-background-color;
  font-size: 4.5vmax;
  text-align: center;
}

/* Content */
.content-container {
  font-size: 1.5em;
}

.content {
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding: 0 1vmax;
}

.content-timer-line {
  height: 0.5vh;
  background-color: $time-line-color;
}

/* Controls */
.control-container {
  padding: 0 1vh;
  color: $header-controls-color;
  background-color: $header-background-color;
  font-size: 2.5vmax;
  text-align: center;
  cursor: pointer;
  line-height: 4.5vmax;
}

.control-container:hover {
  color: #ffffff;
}

/* Footer */
.footer-container {
  position: fixed;
  bottom: 0;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Time line */
.time-line-container {
}

/* Paging */
.paging-container {
  background-color: $header-background-color;
}

.page {
  height: 0.2vmax;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;

  transition: height 0.3s;
}

.page:first-of-type {
  margin-left: 0;
}

.page:not(:first-of-type) {
  border-left: 1px solid $header-background-color;
}

.page-active {
  height: 0.6vmax;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

table {
  th {
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: $table-header-background-color;
    border: 1px solid white;
    text-align: center;
  }

  tbody {
    tr td {
      padding: 20px;
      border: 1px solid $table-border-color;
      text-align: left;
      vertical-align: middle;
    }
  }
}

.table-small {
  tbody {
    tr td {
      padding: 5px;
    }
  }
}

// Predefined classes for the jsons
.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.width-quarter {
  width: 25%;
}

.width-half {
  width: 50%;
}

.width-three-quarters {
  width: 75%;
}

.width-full {
  width: 100%;
}