$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

html, body {
  font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #DFE0E1;
}

/* Content */
.content-container {
  font-size: 1.5em;
}

.header {
  padding: 1vh;
  background-color: #B2C900;
  font-size: 4.5vmax;
  text-align: center;
  text-shadow: -2px 2px 3px #636363;
}

.control-container {
  padding: 0.5vh 1vh 1.5vh;
  color: #90a300;
  background-color: #B2C900;
  font-size: 4.5vmax;
  text-align: center;
  cursor: pointer;
}

.control-container:hover {
  color: #ffffff;
  text-shadow: -2px 2px 3px #636363;
}

.content {
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 0 1vmax;
}

.footer-container {
  position: fixed;
  bottom: 0;
}

.status-container {
  height: 0.5vh;
}

.content-timer-line {
  height: 0.5vh;
  background-color: #90a300;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

// table
table th {
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: #B2C900;
  border: 1px solid white;
  text-align: center;
}

table tr:hover {
  background-color: #6AB023;
}

table tbody tr td {
  padding: 20px;
  border: 1px solid white;
  text-align: left;
  vertical-align: middle;
}

// center
.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.width-quarter {
  width: 25%;
}

.width-half {
  width: 50%;
}

.width-three-quarters {
  width: 75%;
}