<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs no-padding">
            <div class="controls-container-prev"></div>
        </div>
        <div class="col-md-8 no-padding">
            <div id="header-container"></div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs no-padding">
            <div class="controls-container-next"></div>
        </div>
    </div>

    <div class="row">
        <div id="time-line-container" class="time-line-container"></div>
    </div>

    <div class="row">
        <div id="content-container" class="content-container"></div>
    </div>

    <div id="footer" class="row hidden-md hidden-lg">
        <div class="col-xs-6 no-padding">
            <div class="controls-container-prev"></div>
        </div>
        <div class="col-xs-6 no-padding">
            <div class="controls-container-next"></div>
        </div>
    </div>
</div>